<p style="text-align:center;">
<img src="https://github.com/digital-futures-academy/DataScienceMasterResources/blob/main/Resources/datascience-notebook-header.png?raw=true"
     alt="DigitalFuturesLogo"
     style="float: center; margin-right: 10px;" />
</p>

# Swan Consulting Workbook
### <i>By Team White Swan</i>

### Table Of Contents:
* [General Properties](#1)
* [Exploratory Data Analysis (EDA)](#2)
* [Train-test-split](#3)


The aim of this workbook is to .....

In [21]:
## Importing Libraries
 #For Handling and Visualising Data
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
 # For Modelling
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier , ExtraTreesClassifier # Decison Tree Model
from sklearn.linear_model import LogisticRegression # Logistic Regression Model
import statsmodels as sm

# For measuring our models performance
from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score

In [26]:
## Read in Data
df = pd.read_csv('Swan_Project_Data.csv')

## **1** General properties <a class="anchor" id="1"></a>

In [35]:
## Check first few rows
 # Set option to display all columns
pd.set_option('display.max_columns', None)
df.head(3)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,Moved

In [216]:
## Check shape
df.shape

(2864, 21)

In [218]:
## Check columns
df.columns

Index(['Country', 'Region', 'Year', 'Infant_deaths', 'Under_five_deaths',
       'Adult_mortality', 'Alcohol_consumption', 'Hepatitis_B', 'Measles',
       'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Thinness_ten_nineteen_years',
       'Thinness_five_nine_years', 'Schooling', 'Economy_status_Developed',
       'Economy_status_Developing', 'Life_expectancy'],
      dtype='object')

In [220]:
## Check data types
df.dtypes

Country                         object
Region                          object
Year                             int64
Infant_deaths                  float64
Under_five_deaths              float64
Adult_mortality                float64
Alcohol_consumption            float64
Hepatitis_B                      int64
Measles                          int64
BMI                            float64
Polio                            int64
Diphtheria                       int64
Incidents_HIV                  float64
GDP_per_capita                   int64
Population_mln                 float64
Thinness_ten_nineteen_years    float64
Thinness_five_nine_years       float64
Schooling                      float64
Economy_status_Developed         int64
Economy_status_Developing        int64
Life_expectancy                float64
dtype: object

## **2** EDA <a class="anchor" id="2"></a>

## **3** Train-test-split <a class="anchor" id="3"></a>